ul{
	list-style-type: none;
}

img{
	border-radius: 75%;
	text-align: center;
	border: 5px;
}

h1{
	color: white;
	font-size: 75;
}

h4{
	text-align: center;
}

form{
	background-color: brown;
	text-align: center;
	display: inline-block;
}