header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px; 
}
nav {
    line-height:45px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
section {
    width:350px;
    float:left;
    padding:10px; 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
img {
    border-radius: 50%;
}

h3{
    text-align: center;

}

h2{
    text-align: center;
    
}

ul{
    text-align: center;
    

}

p{
    text-align: center;
}

th{
    width: 15%;
}

td{
    border: 1px solid black;
}